.largeVideo {
    width: 100%; /* whatever width here, can be fixed no of pixels etc. */
    height: 0px;
    padding-bottom: 56.5%;
    overflow: hidden;
    position: relative;
    background-color: #000;

    iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    &__overlay {
        background-color: rgba(10, 27, 66, 0.82);
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        &__inner {
            padding: 1em 1em 1em 1em;
            text-align: center;
            position: absolute;
            top: 50%;
            transform-origin: center;
            height: 131px;
            width: 300px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            &::after {
                content: "";
                position: absolute;
                height: 126px;
                width: 20px;
                background: #fff;
                display: block;
                top: 0;
                right: 0;
                background: transparent url("../../src/img/techBorderRight.svg") no-repeat center;
                background-size: 180px 100%;
            }
            &::before {
                content: "";
                position: absolute;
                height: 100%;
                width: 20px;
                background: #fff;
                display: block;
                top: 0;
                left: 0;
                background: transparent url("../../src/img/techBorderLeft.svg") no-repeat center;
                background-size: 180px 100%;
            }
            &__play {
                margin: auto;
                position: relative;
                display: block;
                height: 50px;
                width: 40px;
                cursor: pointer;
                transition-duration: 0.5s;
                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }
    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
