.header {
    width: 100%;
    top: 0;
    position: absolute;
    min-height: 600px;
    overflow: hidden;

    &__title {
        background-color: config("colors.secondary");
        padding: 0.2em 0.4em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        margin: 0;
        color: #fff;
    }

    &__video {
        width: 100vw;
        height: 56.25vw;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        object-fit: cover;
        @media (max-width: config("screens.md")) {
            width: auto !important;
            height: 100%;
            max-width: none;
        }
    }

    &__videoLocal {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    &--map {
        clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 100%);
        min-height: 300px !important;
    }

    &--front {
        &::after {
            content: "";
            width: 100%;
            background-color: #fff;
            display: block;
            height: 100px;
            position: absolute;
            z-index: 100;
            bottom: -50px;
            left: 0;
            z-index: 0;
            transform: rotate(-1deg);
            @media (max-width: config("screens.sm")) {
                transform: rotate(-2deg);
                height: 38px;
                bottom: -15px;
            }
        }
    }
    &--small {
        min-height: 300px !important;
        position: relative;
        &::after {
            content: "";
            width: 110%;
            background-color: #fff;
            display: block;
            height: 100px;
            z-index: 0;
            position: absolute;
            bottom: -78px;
            right: -10px;
            transform: rotate(-1.5deg);
        }
    }
    &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 600px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        &--small {
            min-height: 300px !important;
        }
    }
    &__brochure {
        position: absolute;
        bottom: 2rem;
        right: 0rem;
        height: auto;
        width: 250px;
        z-index: 9999;
        background-color: config("colors.secondary");
        padding: 0.6em 1em;
        color: #fff;
    }
}
.header--process {
    position: relative;
    background-color: #000;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: bottom right;

    &__shape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 27, 66, 0.3);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: contain;

        @media (min-width: config("screens.xl")) {
            min-height: 800px;
            height: unset;
            top: unset;
            bottom: 0;
        }
    }

    &__content {
        position: relative;
        display: inline-block;
        z-index: 1;
        min-height: 400px;
        &__inner {
            &__index {
                padding: 0 !important;
                list-style: none;
                a {
                    color: inherit;
                    text-decoration: none !important;
                }
                .active {
                    background-color: config("colors.accent");
                    pointer-events: none;
                }
                li {
                    color: #fff;
                    min-width: 390px;
                    list-style: none;
                    background-color: config("colors.secondary");
                    padding: 1em;
                    margin-bottom: 0.4em;
                    text-decoration: none !important;
                    transition-duration: 0.8s;
                    &:hover:not(.active) {
                        margin-left: 0.5em;
                        background-color: config("colors.accent-dark");
                    }
                }
            }
        }
    }
}
